<p>
    <strong>SilverDecisions <%= version %> (gebaut <%= buildTimestamp%>)</strong><br/>Open Source Entscheidungsbaum Software.
</p>
<p>
<strong>Zitierung:</strong><br/>
B. Kamiński, M. Jakubczyk, P. Szufel: A framework for sensitivity analysis of decision trees, Central European Journal of Operations Research (2017).</br>
<a href="https://link.springer.com/article/10.1007/s10100-017-0479-6" target="_blank">doi:10.1007/s10100-017-0479-6</a>
</p>
<p class="sd-project-team">
    Projektteam:
    <ul>
        <li><a href="http://bogumilkaminski.pl/" target="_blank">Bogumił Kamiński</a> (Projektleiter)</li>
        <li><a href="https://szufel.pl/" target="_blank">Przemysław Szufel</a> (Stellvertretender Projektleiter)</li>
        <li><a href="https://github.com/mwasiluk" target="_blank">Michał Wasiluk</a> (Designer)</li>
        <li><a href="http://www.michaljakubczyk.pl/" target="_blank">Michał Jakubczyk</a> (Entwickler)</li>
        <li>Anna Wiertlewska (Projekt Unterstützung)</li>
        <li>Marcin Czupryna (Tester)</li>
    </ul>
</p>
<p>
    Das Projekt wird von Decision Support and Analysis Division, Warsaw School of Economics entwickelt.<br/>
    Kontakt: silverdecisions@sgh.waw.pl
</p>
<p>
    SilverDecisions ist ein gemeinschaftsgetriebenes Projekt. Sollten Sie es für Ihre Untericht, Forschung oder jede andere Aktivität, die Sie mit uns teilen möchten verwenden, wir würden uns freuen, einen Link zu Ihren Aktivitäten zu der <a href="https://github.com/SilverDecisions/SilverDecisions/wiki/SilverDecisions-Community" target="_blank">SilverDecisions Gemeinschaft</a> Seite hinzufügen zu können.
</p>
<p>
    Software wird als Teil von <a href="http://routetopa.eu/" target="_blank">ROUTE-TO-PA</a> Projekt entwickelt. Dieses Projekt hat      Mittel aus dem Horizon 2020 (Forschungs- und Innovationsprogramm der Europäischen Union) im Rahmen der Finanzhilfevereinbarung Nr 645860 erhalten. Ziel dieses Projektes ist es, eine transparente Kommunikation zwischen der öffentlichen Verwaltung und den Bürgern über das Thema, öffentliche Daten und Entscheidungsprozesse zu unterstützen. 
</p>
<p>
    Alle Quelldateien werden unter den Bedingungen der GNU Lesser General Public License Version 3 lizenziert.
</p>
<p>
    Für weitere Informationen besuchen Sie bitte, unsere Website unter <a href="http://silverdecisions.pl/" target="_blank">http://silverdecisions.pl/</a>.
</p>
