<p>
    <strong>SilverDecisions <%= version %> (build <%= buildTimestamp%>)</strong><br/>A free and open source decision tree software.
</p>
<p>
<strong>Citation:</strong><br/>
B. Kamiński, M. Jakubczyk, P. Szufel: A framework for sensitivity analysis of decision trees, Central European Journal of Operations Research (2017).</br>
<a href="https://link.springer.com/article/10.1007/s10100-017-0479-6" target="_blank">doi:10.1007/s10100-017-0479-6</a>
</p>
<p class="sd-project-team">
    Project team:
    <ul>
        <li><a href="http://bogumilkaminski.pl/" target="_blank">Bogumił Kamiński</a> (project manager)</li>
        <li><a href="https://szufel.pl/" target="_blank">Przemysław Szufel</a> (deputy project manager)</li>
        <li><a href="https://github.com/mwasiluk" target="_blank">Michał Wasiluk</a> (developer)</li>
        <li><a href="http://www.michaljakubczyk.pl/" target="_blank">Michał Jakubczyk</a> (designer)</li>
        <li>Anna Wiertlewska (documentalist)</li>
        <li>Marcin Czupryna (tester)</li>
    </ul>
</p>
<p>
    The project is developed at Decision Support and Analysis Division, Warsaw School of Economics.<br/>
    Contact: silverdecisions@sgh.waw.pl
</p>
<p>
    SilverDecisions is a community-driven project, so if you use it for teaching, research or any other activity that you would be willing to share please let us know. We would be glad to add a link to your activities on <a href="https://github.com/SilverDecisions/SilverDecisions/wiki/SilverDecisions-Community" target="_blank">SilverDecisions Community</a> page.
</p>
<p>
    Software is developed as a part of <a href="http://routetopa.eu/" target="_blank">ROUTE-TO-PA</a> Project that has
    received funding from the European Union’s Horizon 2020 research and innovation programme under grant agreement No
    645860. Its aim is to allow a transparent communication between public administration and citizens regarding public
    data about decision making processes performed by public administration.
</p>
<p>
    All the source files are licensed under the terms of the GNU Lesser General Public License version 3.
</p>
<p>
    For more information visit our website at <a href="http://silverdecisions.pl/" target="_blank">http://silverdecisions.pl/</a>.
</p>
