<p>
    <strong>SilverDecisions <%= version %> (build <%= buildTimestamp%>)</strong><br/>Un logiciel libre et open source pour faire son propre arbre de décision.
</p>

<p>
<strong>Citation:</strong><br/>
B. Kamiński, M. Jakubczyk, P. Szufel: A framework for sensitivity analysis of decision trees, Central European Journal of Operations Research (2017).</br>
<a href="https://link.springer.com/article/10.1007/s10100-017-0479-6" target="_blank">doi:10.1007/s10100-017-0479-6</a>
</p>

<p class="sd-project-team">
    Equipe du projet:
    <ul>
        <li><a href="http://bogumilkaminski.pl/" target="_blank">Bogumił Kamiński</a> (chef de projet)</li>
        <li><a href="https://szufel.pl/" target="_blank">Przemysław Szufel</a> (chef de projet adjoint)</li>
        <li><a href="https://github.com/mwasiluk" target="_blank">Michał Wasiluk</a> (développeur)</li>
        <li><a href="http://www.michaljakubczyk.pl/" target="_blank">Michał Jakubczyk</a> (designer)</li>
        <li>Anna Wiertlewska (documentaliste)</li>
	<li>Marcin Czupryna (testeur)</li>
    </ul>
</p>
<p>
    Le projet est conçu et développé par la Division de l'aide à la décision et de l'analyse, à l'École d'économie de Varsovie. <br/>Contact: silverdecisions@sgh.waw.pl
</p>
<p>
    SilverDecisions est un projet communautaire, donc si vous l'utilisez pour l'enseignement, la recherche ou toute autre activité que vous aimeriez partager, 
    faites-le nous savoir. Nous serions heureux d'ajouter un lien vers vos activités sur le site web de 
    <a href="https://github.com/SilverDecisions/SilverDecisions/wiki/SilverDecisions-Community" target="_blank">SilverDecisions Community</a>.
</p>
<p>  
    Le logiciel est développé dans le cadre du projet <a href="http://routetopa.eu/" target="_blank">ROUTE-TO-PA</a>, 
    financé par le programme de recherche et d'innovation Horizon 2020 de l'Union Européenne dans le cadre de l'accord de subvention n° 645860. 
    Son objectif est permettre une communication transparente entre l'administration publique et les citoyens 
    concernant les données publiques (Open Data) et la prise de décision des administrations.  
</p>
<p>
    Tous les fichiers source sont sous licence GNU Lesser General Public License version 3.
</p>
<p>
    Pour plus d'informations, visitez notre site web à <a href="http://silverdecisions.pl/" target="_blank">http://silverdecisions.pl/</a>.
</p>

