<p>
    <strong>SilverDecisions <%= version %> (construzione <%= buildTimestamp%>)</strong><br/>
    Un Software Open Source Free per gestire alberi di decisione.
</p>

<p>
<strong>Citazione:</strong><br/>
B. Kamiński, M. Jakubczyk, P. Szufel: A framework for sensitivity analysis of decision trees, Central European Journal of Operations Research (2017).</br>
<a href="https://link.springer.com/article/10.1007/s10100-017-0479-6" target="_blank">doi:10.1007/s10100-017-0479-6</a>
</p>

<p class="sd-project-team">
    Team di progetto:
    <ul>
        <li><a href="http://bogumilkaminski.pl/" target="_blank">Bogumił Kamiński</a> (project manager)</li>
        <li><a href="https://szufel.pl/" target="_blank">Przemysław Szufel</a> (vice project manager)</li>
        <li><a href="https://github.com/mwasiluk" target="_blank">Michał Wasiluk</a> (sviluppo)</li>
        <li>Marcin Czupryna (test)</li>
        <li><a href="http://www.michaljakubczyk.pl/" target="_blank">Michał Jakubczyk</a> (tester)</li>
        <li>Anna Wiertlewska (documentazione)</li>
    </ul>
</p>
<p>
    Il progetto è sviluppato presso la Divisione “Supporto alla decisione ed Analisi” della Scuola di Economia dell’Università di Varsavia. <br/>Contatto:
    silverdecisions@sgh.waw.pl
</p>
<p>
SilverDecision è un Progetto basato su di una Comunità di sviluppo, se lo utilizzi a scopo di insegnamento, ricerca o altra attività che vorresti rendere nota tienici informati. Saremmo lieti di aggiungere un <a href="https://github.com/SilverDecisions/SilverDecisions/wiki/SilverDecisions-Community" target="_blank">link</a> alla tua attività.
</p>
<p>
    Il software è sviluppato nell’ambito del progetto <a href="http://routetopa.eu/" target="_blank">ROUTE-TO-PA</a> 
    finanziato dal programma di ricerca ed innovazione H2020 dell’ Unione Europea (contratto n. 645860). 
    Scopo del progetto è quello di permettere una comunicazione trasparente tra Pubblica Amministrazione e cittadini 
    riguardo ai dati pubblici ed ai processi di decisione portati avanti dalla stessa Pubblica Amministrazione.    
</p>
<p>
    Tutti i codici sorgente sono rilasciati secondo i termini della licenza “GNU Lesser General Public License version 3".
</p>
<p>
    Per maggiori informazioni visita il sito <a href="http://silverdecisions.pl/" target="_blank">http://silverdecisions.pl/</a>.
</p>

