<p>
    <strong>SilverDecisions <%= version %> (build <%= buildTimestamp%>)</strong><br/>
    Oprogramowanie do analizy drzew decyzyjnych typu Free Open Source.
</p>

<p>
<strong>Cytowanie:</strong><br/>
B. Kamiński, M. Jakubczyk, P. Szufel: A framework for sensitivity analysis of decision trees, Central European Journal of Operations Research (2017).</br>
<a href="https://link.springer.com/article/10.1007/s10100-017-0479-6" target="_blank">doi:10.1007/s10100-017-0479-6</a>
</p>

<p class="sd-project-team">
    Zespół projektowy:
    <ul>
        <li><a href="http://bogumilkaminski.pl/" target="_blank">Bogumił Kamiński</a> (manager projektu)</li>
        <li><a href="https://szufel.pl/" target="_blank">Przemysław Szufel</a> (zastępca managera projektu)</li>
        <li><a href="https://github.com/mwasiluk" target="_blank">Michał Wasiluk</a> (developer)</li>
        <li><a href="http://www.michaljakubczyk.pl/" target="_blank">Michał Jakubczyk</a> (projektant)</li>
        <li>Anna Wiertlewska (dokumentalistka)</li>
        <li>Marcin Czupryna (tester)</li>
    </ul>
</p>
<p>
    Projekt jest realizowany w Zakładzie Wspomagania i Analizy Decyzji w Szkole Głównej Handlowej w Warszawie.<br/>
    Kontakt: silverdecisions@sgh.waw.pl
</p>
<p>
    Rozwój SilverDecisions zależy od potrzeb użytkowników. W związku z tym jeśli wykorzystujesz je do nauczania, badań lub innych aktywności, o których zechcesz na powiedzieć prosimy o kontakt. Byłoby nam bardzo miło, jeśli moglibyśmy dodać informację o Twoich aktywnościach na stronie <a href="https://github.com/SilverDecisions/SilverDecisions/wiki/SilverDecisions-Community" target="_blank">SilverDecisions Community</a>.
</p>
<p>
<p>
    Oprogramowanie jest rozwijane w ramach projektu <a href="http://routetopa.eu/" target="_blank">ROUTE-TO-PA</a> (<em>Raising
    Open and User-friendly Transparency-Enabling Technologies for Public Administrations</em>),
    który jest finansowany ze środków Europejskiego Programu w Zakresie Badań Naukowych i Innowacji Horizon 2020 na
    podstawie umowy o dotację nr 645860. Celem projektu ROUTE-TO-PA jest umożliwienie przejrzystej komunikacji pomiędzy
    administracją publiczną a mieszkańcami w zakresie publicznych danych dotyczących procesu podejmowania przez
    administracje publiczne decyzji.
</p>
<p>
    Wszystkie pliki źródłowe są licencjonowane zgodnie ze słabszą powszechną licencją publiczną GNU (GNU Lesser General Public License version 3).
</p>
<p>
    Więcej informacji można znaleźć na stronie internetowej: <a href="http://silverdecisions.pl/" target="_blank">http://silverdecisions.pl/</a>.
</p>
