<div id="diagram-details-box">
    <div class="header">
        <%= i18n.t("diagramDetails.header")%>
        <span class="toggle-button">
            <i class="material-icons icon-arrow-up">keyboard_arrow_up</i>
            <i class="material-icons icon-arrow-down">keyboard_arrow_down</i>
        </span>
    </div>
    <div class="content">
        <div class="input-group">
            <input id="diagram-title" type="text" name="diagram-title">
            <span class="bar"></span>
            <label for="diagram-title"><%= i18n.t("diagramDetails.title") %></label>
        </div>
        <div class="input-group">
            <textarea id="diagram-description" name="diagram-description"></textarea>
            <span class="bar"></span>
            <label for="diagram-description"><%= i18n.t("diagramDetails.description") %></label>
        </div>
    </div>
</div>
