<div>
    <h3><%= i18n.t("help.header")%></h3>
    <p>
        <%= i18n.t("help.mouse.header")%>
        <ul>
            <li><%= i18n.t("help.mouse.list.1")%></li>
            <li><%= i18n.t("help.mouse.list.2")%></li>
            <li><%= i18n.t("help.mouse.list.3")%></li>
        </ul>
    </p>
    <p>
        <%= i18n.t("help.keyboard.header")%>
        <ul>
            <li><%= i18n.t("help.keyboard.list.1")%></li>
            <li><%= i18n.t("help.keyboard.list.2")%></li>
            <li><%= i18n.t("help.keyboard.list.3")%></li>
            <li><%= i18n.t("help.keyboard.list.4")%></li>
            <li><%= i18n.t("help.keyboard.list.5")%></li>
            <li><%= i18n.t("help.keyboard.list.6")%></li>
        </ul>
    </p>
    <p><%= i18n.t("help.docs")%></p>
</div>
