<div class="sd-modal sd-sensitivity-analysis-dialog">
    <div class="sd-modal-content">
        <div class="sd-modal-header">
            <span class="sd-modal-button sd-close-modal"><i class="material-icons">close</i></span>
            <span class="sd-modal-button sd-extend-modal"><i class="material-icons">fullscreen</i></span>
            <span class="sd-modal-button sd-shrink-modal"><i class="material-icons">fullscreen_exit</i></span>

            <h2><%= i18n.t("sensitivityAnalysisDialog.title")%></h2>
        </div>
        <div class="sd-modal-body">
            <div class="sd-sensitivity-analysis-job-configuration">
                <div class="sd-job-select-input-group input-group"></div>
                <%= include('jobParametersBuilder', variables) %>
            </div>
            <div class="sd-sensitivity-analysis-warnings">

            </div>
            <div class="sd-job-progress-bar-container sd-progress-bar-container sd-hidden"><div class="sd-progress-bar"></div></div>
            <div class="sd-sensitivity-analysis-job-results sd-hidden">
                <div class="sd-job-result-table-container"></div>
                <div class="sd-job-result-plot-container"></div>
            </div>
            <div class="sd-sensitivity-analysis-action-buttons">
                <button class="sd-terminate-job-button sd-hidden"><%= i18n.t('sensitivityAnalysisDialog.buttons.terminateJob')%></button>
                <button class="sd-stop-job-button sd-hidden"><%= i18n.t('sensitivityAnalysisDialog.buttons.stopJob')%></button>
                <button class="sd-resume-job-button sd-hidden"><%= i18n.t('sensitivityAnalysisDialog.buttons.resumeJob')%></button>
                <button class="sd-back-button  sd-hidden"><%= i18n.t('sensitivityAnalysisDialog.buttons.back')%></button>
                <button class="sd-download-csv-button sd-hidden"><%= i18n.t('sensitivityAnalysisDialog.buttons.downloadCsv')%></button>
                <button class="sd-clear-button "><%= i18n.t('sensitivityAnalysisDialog.buttons.clear')%></button>
                <button class="sd-run-job-button"><%= i18n.t('sensitivityAnalysisDialog.buttons.runJob')%></button>

            </div>
        </div>
    </div>
</div>
