<div id="sd-settings-dialog" class="sd-modal">
    <div class="sd-modal-content">
        <div class="sd-modal-header">
            <span class="sd-modal-button sd-close-modal"><i class="material-icons">close</i></span>
            <span class="sd-modal-button sd-extend-modal"><i class="material-icons">fullscreen</i></span>
            <span class="sd-modal-button sd-shrink-modal"><i class="material-icons">fullscreen_exit</i></span>
            <h2><%= i18n.t("settingsDialog.title")%></h2>
        </div>
        <div class="sd-modal-body">
            <form id="sd-settings-form">
            </form>
        </div>
    </div>
</div>
