<div id="sd-toolbar">
    <div class="toolbar-group">
        <button id="new-diagram-button" class="icon-button" title="<%= i18n.t('toolbar.newDiagram')%>"><i class="material-icons">insert_drive_file</i></button>
        <button id="open-diagram-button" class="icon-button" title="<%= i18n.t('toolbar.openDiagram')%>"><i class="material-icons">folder_open</i></button>
        <button id="save-diagram-button" class="icon-button" title="<%= i18n.t('toolbar.saveDiagram')%>"><i class="material-icons">save</i></button>
    </div>
    <div id="export-toolbar-group" class="toolbar-group">
        <label><%= i18n.t("toolbar.export.label")%></label>
        <button id="saveButton"><%= i18n.t("toolbar.export.png")%></button>
        <button id="saveButtonSvg"><%= i18n.t("toolbar.export.svg")%></button>
        <button id="saveButtonPdf"><%= i18n.t("toolbar.export.pdf")%></button>
    </div>
    <div class="toolbar-group">
        <label><%= i18n.t("toolbar.layout.label")%></label>
        <button id="manualLayoutButton"><%= i18n.t("toolbar.layout.manual")%></button>
        <button id="treeAutoLayoutButton"><%= i18n.t("toolbar.layout.tree")%></button>
        <button id="clusterAutoLayoutButton"><%= i18n.t("toolbar.layout.cluster")%></button>
    </div>
    <div id="view-mode-toolbar-group" class="toolbar-group">
        <label for="view-mode-select"><%= i18n.t("toolbar.viewMode.label")%></label>
        <div class="input-group no-floating-label" style="display: inline-block">
            <select id="view-mode-select"></select>
            <span class="bar"></span>
        </div>
    </div>
    <div id="objective-rule-toolbar-group" class="toolbar-group">
        <label for="objective-rule-select"><%= i18n.t("toolbar.objectiveRule.label")%></label>
        <div class="input-group no-floating-label" style="display: inline-block">
            <select id="objective-rule-select"></select>
            <span class="bar"></span>
        </div>
    </div>
    <div class="toolbar-group">
        <button id="undoButton" class="icon-button" disabled="disabled" title="<%= i18n.t('toolbar.undo')%>"><i class="material-icons">undo</i></button>
        <button id="redoButton" class="icon-button" disabled="disabled" title="<%= i18n.t('toolbar.redo')%>"><i class="material-icons">redo</i></button>
    </div>
    <div class="toolbar-group">
        <button id="sensitivity-analysis-button" class="icon-button" title="<%= i18n.t('toolbar.sensitivityAnalysis')%>"><i class="material-icons">assessment</i></button>
        <button id="recompute-button" class="icon-button" title="<%= i18n.t('toolbar.recompute')%>"><i class="material-icons">refresh</i></button>
        <button id="settings-button" class="icon-button" title="<%= i18n.t('toolbar.settings')%>"><i class="material-icons">settings</i></button>
        <button id="about-button" class="icon-button" title="<%= i18n.t('toolbar.about')%>"><i class="material-icons">info_outline</i></button>
    </div>
</div>
