<div id="sd-multiple-criteria">
    <div class="header">
        <%= i18n.t("multipleCriteria.header")%>
        <span class="toggle-button">
            <i class="material-icons icon-arrow-up">keyboard_arrow_up</i>
            <i class="material-icons icon-arrow-down">keyboard_arrow_down</i>
        </span>
    </div>
    <div class="content">
        <div class="sd-multiple-criteria-properties"></div>
        <div class="sd-action-buttons">
            <button id="sd-show-league-table-button" class="icon-button"  title="<%= i18n.t('multipleCriteria.buttons.showLeagueTable')%>"><i class="material-icons">assignment</i></button>
            <button id="sd-flip-criteria-button" class="icon-button"  title="<%= i18n.t('multipleCriteria.buttons.flip')%>"><i class="material-icons">swap_vert</i></button>
        </div>
    </div>
</div>
