#silver-decisions {
  /* form starting stylings ------------------------------- */
  .input-group {
    position: relative;
    margin-top: 1.5em;
    margin-bottom: 0.8em;

    input, textarea, select {
      font-size: 1em;
      padding: 5px;
      box-sizing: border-box;
      display: block;
      width: 100%;
      border: none;
      border-bottom: 1px solid rgba(0,0,0,.12);
      background: none;

      &.invalid {
        border-color: red;
        outline-color: red;
      }
    }

    select{
      outline: none;
    }

    &.inline-group{
      input, textarea, select{
        display: inline-block;
        width: auto;
      }
    }

    input[type=checkbox]{
      width: auto;
      margin-top: 2em;
    }

    textarea{
      overflow:hidden!important;
    }

    input:focus, textarea:focus  {
      outline: none;
    }

    &:not(.no-floating-label){
      label {
        color: #999;
        font-size: 1.0em;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 5px;
        top: 0.3em;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
      }

      /* active state */
      select ~ label, input:focus ~ label, input:not(.empty) ~ label, textarea:focus ~ label, textarea:not(.empty) ~ label  {
        top: -.85em;
        font-size: 0.85em;
        color: #5264AE
      }

      select ~ label{
        top: -1.2em;
      }
      input[type=color] ~ label{
        top: -1.2em;
      }

      input[type=checkbox] ~ label{
        top: -1.4em;
      }
    }



    input.invalid ~ .bar, textarea.invalid ~ .bar{
      &:before, &:after {
        background: red;
      }
    }

    /* BOTTOM BARS ================================= */
    .bar {
      position: relative;
      display: block;
      width: 100%;

      &:before, &:after {
        content: '';
        height: 2px;
        width: 0;
        bottom: 1px;
        position: absolute;
        background: #5264AE;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
      }
      &:before {
        left: 50%;
      }
      &:after {
        right: 50%;
      }
    }


    /* active state */
    input:focus ~ .bar:before, input:focus ~ .bar:after, textarea:focus ~ .bar:before, textarea:focus ~ .bar:after,  select:focus ~ .bar:before,  select:focus ~ .bar:after{
      width: 50%;
    }

  }

}

