.sd-league-table-plot{
  .odc-dominated-region{
    opacity: 0.3;
  }

  .odc-gradient-arrow{
    stroke-width: 4;
    stroke: red;
    fill: red;
    opacity: 0.65;
  }

  .arrowHead{
    stroke: red;
    fill: red;
  }
}
