

@mixin card-mixin(){
  border: 1px solid #bfbfbf;
  border-radius: 2px;
  background: white;
  box-sizing: border-box;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

#silver-decisions{

  /*@import "../../node_modules/material-design-lite/src/material-design-lite";*/
  display: flex;
  //align-items: stretch;
  flex-direction: column;
  height: 100%;
  background: #efefef;
  #toolbar{
    font-family: Roboto, Helvetica, Arial, sans-serif;
    @include card-mixin();
    flex: 0;
    padding: 7px 5px;

    button{
      margin-right: 4px;
      &:last-child {
        margin-right: 0;
      }
    }

    .toolbar-group{
      display: inline-block;
      $toolbar-border-color: #d8d8d8;

      label{
        display: inline-block;
        font-size: 10px;
        text-transform: uppercase;
        margin-right: 4px;
      }

      &:first-child {
        padding-right:7px;
      }
      &*:not(:first-child):not(:last-child) {
        padding: 0 7px;
        border-left: 2px solid $toolbar-border-color;

      }
      &:last-child {
        padding-left:7px;
        border-left: 2px solid $toolbar-border-color;
      }
    }
  }

  #main-region{
    display: flex;
    flex: 1;

    #sidebar{
      font-family: Roboto, Helvetica, Arial, sans-serif;
      $sidebar-width: 200px;
      width: $sidebar-width;

      #object-properties{
        opacity: 0;
        @include card-mixin();
        margin: 5px 0 5px 5px;
        min-height: 20px;
        //padding: 7px 7px;
        padding-bottom: 7px;
        -webkit-transition: opacity 0.3s; /* Safari */
        transition: opacity 0.3s;
        &.visible{
          display: block;
          opacity: 1;
        }

        .header{
          font-weight: bold;
          padding: 7px;
          border-bottom: 1px solid rgba(0,0,0,.1);
        }

        .content{
          .object-field{

            //margin-top: 7px;
            padding: 7px;
            label{
              display: block;
              font-size: 12px;
            }
            input{
              padding: 4px;
              border-radius: 2px;
              border: 1px solid #ccc;

              &.invalid{

                border-color: red;
                outline-color: red;

              }
            }
          }
        }
      }
    }
  }

  #tree-designer-container{
    @include card-mixin();
    position: relative;
    flex: 1;

    margin: 5px;

    &.with-overflow-y{
      overflow-y: auto;
    }
    &.with-overflow-x{
      overflow-x: auto;
    }

    &::-webkit-scrollbar {
      width: 7px;
      height: 7px;
    }


    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }

    &::-webkit-scrollbar-thumb {
      background-color: darkgrey;
      outline: 1px solid slategrey;
    }
  }

  svg.tree-designer{

    font-size: 12px;
    position: absolute;
    //top: 0;
    //left: 0;


    .node{
      cursor: move;

      .payoff{
        fill: #0000d7;
        &.negative{
          //fill: #0000d7;
        }
      }

      path{
        -webkit-transition: fill 0.25s; /* Safari */
        transition: fill 0.25s;
      }


      &.selected{

      }

      &.dragging path, &.selected path{
        stroke-dasharray: 3;
      }

      .error-indicator{
        display: none;
        fill: red;
        font-weight: bold;
        font-size: 1.2em;

      }

      &.error{
        .error-indicator{
          display: block;
          animation: pulse 1.3s ease-in;
          -webkit-animation: pulse 1.3s ease-in;
          -webkit-animation-iteration-count: infinite;
        }
      }
    }

    .decision-node{
      $fill-color: #ff7777;
      $fill-highlighted-color: #aa3333;
      $stroke-color: #660000;

      path{
        fill: $fill-color;
        stroke-width: 1px;
        stroke: $stroke-color;
      }
      &.dragging, &.selected{
        path{
          fill: $fill-highlighted-color
        }
      }
    }
    .chance-node{
      $fill-color: #ffff44;
      $fill-highlighted-color: #aaaa00;
      $stroke-color: #666600;

      path{
        fill: $fill-color;
        stroke-width: 1px;
        stroke: $stroke-color;
      }
      &.dragging, &.selected{
        path{
          fill: $fill-highlighted-color;
        }
      }
    }

    .terminal-node{
      $fill-color: #44ff44;
      $fill-highlighted-color: #00aa00;
      $stroke-color: black;

      path{
        fill: $fill-color;
        stroke-width: 1px;
        stroke: $stroke-color;
      }
      &.dragging, &.selected{
        path{
          fill: $fill-highlighted-color;
        }
      }
    }

    .edge{
      $stroke-width: 1.5;
      $stroke-width-selected: $stroke-width + 2;
      cursor: pointer;

      path{
        stroke: #424242;
        stroke-width: $stroke-width;
        -webkit-transition: stroke-width 0.3s; /* Safari */
        transition: stroke-width 0.3s;
      }

      .label{
        font-size:1em;
      }

      .payoff{
        fill: #006f00;
        &.negative{
          fill: #b60000;
        }
      }

      .probability{
        fill: #0000d7;
      }

      &.optimal{
        path{
          stroke-width: $stroke-width-selected - 1.1;
          stroke: #006f00;
        }

      }

      &:hover{
        path{
          stroke-width: $stroke-width-selected - 1;
        }

        .label{
          //font-weight: bold;
        }

      }

      &.selected{
        path{
          stroke-width: $stroke-width-selected;
          stroke: #045ad1;
        }


        .label{
          font-weight: bold;
        }

        //transition:none;
        //-webkit-transition: none;
        //animation: pulse 1.3s ease-in;
        //-webkit-animation: pulse 1.3s ease-in;
        //-webkit-animation-iteration-count: infinite;
      }

      @-webkit-keyframes pulse {
        0% { opacity: 1.0;}
        50% { opacity: 0.3; }
        100% {  opacity: 1.0;}
      }
      @keyframes pulse {
        0% { opacity: 1.0;}
        50% { opacity: 0.3;}
        100% {  opacity: 1.0;}
      }
    }





  }


  button{
    background: rgba(158,158,158,.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    border: none;
    border-radius: 2px;
    color: #000;
    position: relative;
    height: 2em;
    margin: 0;
    //min-width: 64px;
    //padding: 0 16px;
    display: inline-block;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;
    overflow: hidden;
    will-change: box-shadow;
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 2em;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    &:hover{
      background: rgba(158,158,158,.3);
    }

    &[disabled]{
      background-color: rgba(0,0,0,.12);
      color: rgba(0,0,0,.26);
      box-shadow: none;
    }

    &.active{
      background: #3f51b5;
      color: #fff;
    }

    &.icon-button{
      padding: 0;
    }
  }


}
.sd-tooltip {
  position: absolute;
  pointer-events: none;
  font-size: 11px;
  background: #fdfdfd;
  padding: 3px 5px;
  border-radius: 8px;
  box-shadow: 1px 3px 3px #b7b7b7;
  text-align: center;
  z-index: 1000;
  //border: 1px solid #ccc;
}
