

@mixin card-mixin(){
  border: 1px solid #bfbfbf;
  border-radius: 2px;
  background: white;
  box-sizing: border-box;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

@mixin scrollbar-mixin(){
  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }


  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }
}

#silver-decisions{
  font-family: Roboto, Helvetica, Arial, sans-serif;
  /*@import "../../node_modules/material-design-lite/src/material-design-lite";*/
  display: flex;
  //align-items: stretch;
  flex-direction: column;
  height: 100%;
  background: #efefef;

  a {
    color: #0096a9;
    font-weight: 500;
    text-decoration: none;
  }

  &.sd-read-only{
    #toolbar{
      display: none;
    }
    #sidebar{
      display: none;
    }
  }

  #toolbar{

    @include card-mixin();
    flex: 0 1 auto;
    padding: 7px 5px;

    button{
      margin-right: 4px;
      &:last-child {
        margin-right: 0;
      }
    }

    .toolbar-group{
      display: inline-block;
      $toolbar-border-color: #d8d8d8;

      label{
        display: inline-block;
        font-size: 10px;
        text-transform: uppercase;
        margin-right: 4px;
      }

      &:first-child {
        padding-right:7px;
      }
      &*:not(:first-child):not(:last-child) {
        padding: 0 7px;
        border-left: 2px solid $toolbar-border-color;

      }
      &:last-child {
        padding-left:7px;
        border-left: 2px solid $toolbar-border-color;
      }
    }

    #objective-rule-toolbar-group{
      .input-group{
        margin-top: 0;
        margin-bottom: 0;
        select{
          font-size: .9em;
          padding: 2px;
        }
      }
    }
  }

  #main-region{
    display: flex;
    flex: 1;
    overflow: hidden;
    #sidebar{

      font-family: Roboto, Helvetica, Arial, sans-serif;
      $sidebar-width: 200px;
      min-width: $sidebar-width;
      max-width: $sidebar-width;
      overflow: hidden;
      padding: 5px 0;

      #sidebar-inner{
        height: 100%;
        overflow: auto;
        @include scrollbar-mixin();
        padding: 0 5px;
      }

      $border: 1px solid rgba(0,0,0,.3);


      @mixin extendable-card-mixin(){
        @include card-mixin();

        margin: 0 0 5px 0;
        padding: 0 7px 0;

        &.sd-extended{
          padding: 0 7px 7px;
          .header{
            border-bottom: $border;
            .toggle-button{
              .icon-arrow-up{
                display: block;
              }
              .icon-arrow-down{
                display: none;
              }
            }
          }
          .content{
            display: block;
          }
        }

        .header{
          font-weight: bold;
          padding: 7px 0;

          .toggle-button{
            cursor: pointer;
            float: right;
            .icon-arrow-up{
              display: none;
            }
            .icon-arrow-down{
              display: block;
            }
          }
        }
        .content{
          display: none;
        }
      }

      #layout-options{

        @include extendable-card-mixin();


        .content{
          .input-group{
            font-size: 12px;
            margin-top: 1.1em;
            margin-bottom: 0;
          }
          input{
            border: none;
            display: inline-block;
            width: 100%;
          }
          #auto-layout-options{
            display:none;
            &.visible{
              display: block;
              opacity: 1;
            }
          }
        }
      }

      #diagram-details-box{
        @include extendable-card-mixin();
        .content{
          font-size: 12px;
        }
      }


      #object-properties{
        opacity: 0;
        @include card-mixin();
        margin: 0 0 5px 0;
        min-height: 20px;
        //padding: 7px 7px;
        padding: 0 7px 7px;
        -webkit-transition: opacity 0.3s; /* Safari */
        transition: opacity 0.3s;
        &.visible{
          display: block;
          opacity: 1;
        }

        .header{
          font-weight: bold;
          padding: 7px 0;
          border-bottom: $border;
        }

        .content{
          .object-field{
            font-size: 12px;
            //margin-top: 7px;
            //padding: 7px 0;
            label{
              //display: block;
              //font-size: 12px;
            }
            input{
           /*   padding: 4px;
              border-radius: 2px;
              border: 1px solid #ccc;*/

              &.invalid{

                border-color: red;
                outline-color: red;

              }
            }
          }

          .children-properties{
            //padding-top: 7px;
            margin-top: 7px;
            border-top: $border;
            display: none;

            .children-properties-header{
              border-bottom: $border;
              font-size: 14px;
              text-align: center;
              padding: 5px 0;
            }

            &.visible{
              display: block;
            }

            .child-object{
              margin-top: 12px;
              .child-header{
                font-size: 13px;
                text-align: center;

              }
            }


          }
        }
      }
    }
  }

  #tree-designer-container{
    @include card-mixin();
    @include scrollbar-mixin();
    position: relative;
    flex: 1;

    margin: 5px;

    &.with-overflow-y{
      overflow-y: auto;
    }
    &.with-overflow-x{
      overflow-x: auto;
    }


  }

  svg.tree-designer{
    font-family: "Times New Roman", Times, serif;
    $edge-optimal-color: #006f00;
    $edge-selected-color: #045ad1;

    $probabilityColor: #0000d7;

    font-size: 12px;
    position: absolute;
    //top: 0;
    //left: 0;

    .sd-title{
      text-anchor: middle;
      font-size: 16px;
      //dominant-baseline: hanging;
    }
    .sd-description{
      text-anchor: middle;
      font-size: 12px;
      //dominant-baseline: hanging;
    }

    .node{
      cursor: move;

      .payoff{
        fill: #0000d7;
        &.negative{
          //fill: #0000d7;
        }
      }

      .aggregated-payoff{
        fill: #006f00;
        &.negative{
          fill: #b60000;
        }
      }

      .probability-to-enter{
        fill: $probabilityColor;
      }

      path{
        -webkit-transition: fill 0.25s; /* Safari */
        transition: fill 0.25s;
      }


      &.optimal{
        path{
          stroke: darken($edge-optimal-color, 2%);
          stroke-width: 1.5px;
        }
      }

      &.selected{

      }

      &.dragging path, &.selected path{
        stroke-dasharray: 3;
      }

      .error-indicator{
        display: none;
        fill: red;
        font-weight: bold;
        font-size: 1.2em;

      }

      &.error{
        .error-indicator{
          display: block;
          animation: pulse 1.3s ease-in;
          -webkit-animation: pulse 1.3s ease-in;
          -webkit-animation-iteration-count: infinite;
        }
      }
    }

    .decision-node{
      $fill-color: #ff7777;
      $fill-highlighted-color: #aa3333;
      $stroke-color: #660000;

      path{
        fill: $fill-color;
        stroke-width: 1px;
        stroke: $stroke-color;
      }
      &.dragging, &.selected{
        path{
          fill: $fill-highlighted-color
        }
      }
    }
    .chance-node{
      $fill-color: #ffff44;
      $fill-highlighted-color: #aaaa00;
      $stroke-color: #666600;

      path{
        fill: $fill-color;
        stroke-width: 1px;
        stroke: $stroke-color;
      }
      &.dragging, &.selected{
        path{
          fill: $fill-highlighted-color;
        }
      }
    }

    .terminal-node{
      $fill-color: #44ff44;
      $fill-highlighted-color: #00aa00;
      $stroke-color: black;

      path{
        fill: $fill-color;
        stroke-width: 1px;
        stroke: $stroke-color;
      }
      &.dragging, &.selected{
        path{
          fill: $fill-highlighted-color;
        }
      }
    }



    marker#arrow-optimal{
      path{
        fill: $edge-optimal-color;
      }
    }
    marker#arrow-selected{
      path{
        fill: $edge-selected-color;
      }
    }
    .edge{
      $stroke-width: 1.5;
      $stroke-width-selected: $stroke-width + 2;
      cursor: pointer;

      path{
        stroke: #424242;
        stroke-width: $stroke-width;
        -webkit-transition: stroke-width 0.3s; /* Safari */
        transition: stroke-width 0.3s;
      }

      .label{
        font-size:1em;
      }

      .payoff{
        fill: #006f00;
        &.negative{
          fill: #b60000;
        }
      }

      .probability{
        fill: $probabilityColor;
      }

      &.optimal{
        path{
          stroke-width: $stroke-width-selected - 1.1;
          stroke: $edge-optimal-color;
        }
        &:hover, &.sd-hover{
          path{
            stroke-width: $stroke-width-selected - 0.5;
          }
        }

      }

      &:hover, &.sd-hover{

        path{
          stroke-width: $stroke-width-selected - 1;
        }

        .label{
          //font-weight: bold;
        }

      }

      &.selected{
        path{
          stroke-width: $stroke-width-selected;
          stroke: $edge-selected-color;
        }
        &:hover, &.sd-hover{
          path{
            stroke-width: $stroke-width-selected;
          }
        }

        .label{
          font-weight: bold;
        }

        //transition:none;
        //-webkit-transition: none;
        //animation: pulse 1.3s ease-in;
        //-webkit-animation: pulse 1.3s ease-in;
        //-webkit-animation-iteration-count: infinite;
      }

      @-webkit-keyframes pulse {
        0% { opacity: 1.0;}
        50% { opacity: 0.3; }
        100% {  opacity: 1.0;}
      }
      @keyframes pulse {
        0% { opacity: 1.0;}
        50% { opacity: 0.3;}
        100% {  opacity: 1.0;}
      }
    }

    .floating-text{
      cursor: move;

      &.sd-empty{
        rect{
          stroke-dasharray: 3;
          stroke: gray;
          stroke-width: 1px;
        }
      }
      &.selected{
        rect{
          stroke-dasharray: 3;
          stroke: black;
          stroke-width: 2px;
        }
      }


    }





  }


  button{
    background: rgba(158,158,158,.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    border: none;
    border-radius: 2px;
    color: #000;
    position: relative;
    height: 2em;
    margin: 0;
    //min-width: 64px;
    //padding: 0 16px;
    display: inline-block;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;
    overflow: hidden;
    will-change: box-shadow;
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 2em;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    &:hover{
      background: rgba(158,158,158,.3);
    }

    &[disabled]{
      background-color: rgba(0,0,0,.12);
      color: rgba(0,0,0,.26);
      box-shadow: none;
    }

    &.active{
      background: #3f51b5;
      color: #fff;
    }

    &.icon-button{
      padding: 0;
      background: none;
      box-shadow: none;
      &:hover:not([disabled]){
        background: rgba(158,158,158,.1);
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
      }
    }
  }

}
.sd-tooltip {
  position: absolute;
  pointer-events: none;
  font-size: 11px;
  background: #fdfdfd;
  padding: 3px 5px;
  border-radius: 8px;
  box-shadow: 1px 3px 3px #b7b7b7;
  text-align: center;
  z-index: 1000;
  //border: 1px solid #ccc;
}

#sd-settings-dialog{




  .sd-form-group{

    margin: 10px 0;
    width: 250px;

    &.sd-extended{
      > .header{
        .toggle-button{
          .icon-arrow-up{
            display: block;
          }
          .icon-arrow-down{
            display: none;
          }
        }
      }
      > .sd-form-group-content{
        display: block;
      }
    }
    .header{
      .toggle-button{
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;

        .icon-arrow-up{
          display: none;
        }
        .icon-arrow-down{
          display: block;
        }
      }
    }
    .sd-form-group-content{
      display: none;
    }

    label{
      margin-right: 10px;
    }

    input{
      //padding: 4px;
      //border-radius: 2px;
      //border: 1px solid #ccc;


      &.invalid{

        border-color: red;
        outline-color: red;

      }
    }
    .sd-form-group{
      margin-left: 15px;

      h4{
        font-size: 0.9em;
      }

      .sd-form-group{
        margin-left: 15px;
        h4{
          font-size: 0.85em;
        }
      }
    }
  }


}

#sd-about-dialog{

}

.sd-hidden{
  display: none!important;
}
